<!DOCTYPE html>
<html ng-app="firstApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./style.css" charset="utf-8">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js' type="text/javascript">
    </script>
  </head>
  <body>
    <!-- <input type="text" id='input' placeholder="What is your name" ng-model='name' value=''>
    <h1>My name is: {{name}}</h1>
    <p>
      whispering: {{name | lowercase}}
    </p>
    <p>
      YELLING: {{name | uppercase}}
    </p>
    <p>
      The first {{num}}  <ng-pluralize count="num"
                when="{'1': 'digit',
                       'other': 'digits'}">
  </ng-pluralize> of pie is {{3.14159265359 | number: num}}

    </p>
    <select class="dogs" name="dogs" ng-model='num'>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
    </select>
    <h1>Tip Calculator</h1>
    <p>
      How much does your meal cost?
    </p>
    <input type="number" name="number" ng-model="price" value="">
    <p>
      How much do you want to tip?
    </p>
    <select class="tip" name="tip" ng-model="tip" >
      <option value='.10'>10%</option>
      <option value=".15">15%</option>
      <option value=".20">20%</option>
    </select>
    <p>
      Subtotal: {{price | currency}}
    </p>
    <p>
      Tip: {{price * tip | number: 2}}
    </p>

    <div ng-controller="MyFirstController">
      <h1>My name is: {{name}}</h1>
       <input ng-model="name" type="text" placeholder="What is your name">
    </div> -->

    <div ng-controller="ExerciseController">
      <h3>The number is: {{number}}</h3>
      <button ng-click="pickRandomNumber()">Pick Random Number</button>
      <p></p>
      <input type="text" ng-model="rev">
      <p>
        Your word is: {{rev}}
      </p>
      <button type="button" ng-click="rev = rev.reverse() ">Reverse!</button>

      <p>
        My favorite color is {{favColor}}
      </p>
      <h3>There are {{secondsInACentury | number}} in a year</h3>
      <p>
        {{rightNow | date:'fullDate'}}
      </p>
      <ul ng-repeat="name in names">
        <li>
        {{name}}
        </li>
     </ul>

     <ul ng-repeat="symbol in symbols">
        <li>{{symbol}}</li>
     </ul>

     <ul ng-repeat="rep in repeat track by $index">
       <li>{{rep}}</li>
     </ul>

     <ul ng-repeat="(key)in obj">
       <li>{{key}}</li>
     </ul>
     </div>
    </div>
    <div ng-show="3 + 4 == 5">
      3 + 4 isn't 5, don't show
    </div>

    <div ng-show="3 + 4 == 7">
      3 + 4 is 7, do show
    </div>

    <div ng-hide="3 + 4 == 5">
        3 + 4 isn't 5, don't hide
    </div>

    <div ng-hide="3 + 4 == 7">
      3 + 4 is 7, do hide
    </div>
    <div ng-class="{highlight: 4 + 4 == 8}"> 4 + 4 = 8</div>
    <div ng-class="{highlight: 4 + 4 == 10}">4 + 4 = 10</div>

    <input type="password" ng-model="password" name="name" value="" ng-class="{notLong: password.length <= 5, long: password.length > 5}">
    <input type="submit" ng-show="password.length > 5"  name="name" value="Sign In">
    <p ng-class="{notLong: password.length <= 5, long: password.length > 5}">
      You're password is {{password.length}} <ng-pluralize count="password.length"
                when="{'1': 'character',
                       'other': 'characters'}">
  </ng-pluralize> long
    </p>



    <script src='./dom.js' type="text/javascript">
    </script>
    <script src="./app.js" type="text/javascript">

    </script>

    </script>
  </body>
</html>
