<!DOCTYPE html>
<html ng-app="firstApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./style.css" charset="utf-8">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js' type="text/javascript"></script>
  </head>
  <body>
    <h1>Ping Pong Scorer App</h1>
    <span style= display:none>{{total}}</span>
    <div class="player" ng-class="{winner: count === 11, loser: score === 11}">
      <h5>Player One</h5>
      <p>{{count}}</p>
      <button ng-click="count = count + 1; total = total +1" ng-init="count=0;total=0">Add Point</button>
      <p></p>
      <span ng-show="total === 1 || total === 2 || total === 5 || total === 6 || total === 9 || total === 10">Server</span>
    </div>
    <div class="player" ng-class="{winner: score === 11, loser: count === 11}">
      <h5>Player Two</h5>
      <p>{{score}}</p>
      <button ng-click="score = score + 1; total = total + 1" ng-init="score=0">Add Point</button>
      <p></p>
      <span ng-show="total === 3  || total === 4 || total === 7 || total === 8 || total === 11">Server</span>
    </div>
    <p></p>
    <button ng-init="count=0; score=0" ng-click="count=0; score=0">Reset</button>
  <script src='./dom.js' type="text/javascript"></script>
  <script src="./app.js" type="text/javascript"></script>
  </body>
</html>
